@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

:root {
  /*Primary*/
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* skills bg */
  --skill-bg-red: #fff6f5;
  --skill-bg-yellow: #fffbf2;
  --skill-bg-green: #f2fafa;
  --skill-bg-blue: #f3f3fd;

  /*Gradient blue*/
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);

  /*Gradient violet*/
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  /*Neutral*/
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavander: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
  --light-gray: hsl(208, 8%, 60%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.component {
  display: flex;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 15px;
  height: 600px;
  width: 800px;
  margin-bottom: 30px;
}

.left,
.right {
  display: flex;
  flex: 1;
}
.container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

/* LEFT */
.left {
  background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
  border-radius: 15px;
}

.left .container {
  align-items: center;
}

h1 {
  color: var(--light-lavander);
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
}

.message .head {
  text-align: center;
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.message .phrase {
  text-align: center;
  color: var(--light-lavander);
}

.score {
  background: linear-gradient(var(--violet-blue), var(--persian-blue));
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score .big {
  color: var(--white);
  font-size: 70px;
  font-weight: 800;
}

.score .small {
  color: var(--light-gray);
}
/* /LEFT */

/* RIGHT */
.right .title {
  color: var(--dark-gray-blue);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.skill {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  background-color: var(--green-teal);
  border-radius: 10px;
}

.skill:last-child {
  margin-bottom: 0px;
}

.skill-1 {
  background: var(--skill-bg-red);
  color: var(--light-red);
}

.skill-2 {
  background: var(--skill-bg-yellow);
  color: var(--orangey-yellow);
}

.skill-3 {
  background: var(--skill-bg-green);
  color: var(--green-teal);
}

.skill-4 {
  background: var(--skill-bg-blue);
  color: var(--cobalt-blue);
}

.skill-name {
  margin-left: 20px;
  font-weight: 700;
}

.skill-name i {
  margin-right: 20px;
}

.skill-score {
  margin-right: 20px;
}

.skill-score-first {
  font-weight: 700;
  color: var(--dark-gray-blue);
}

.skill-score-last {
  color: var(--light-gray);
  font-weight: 700;
}

button {
  width: 100%;
  background-color: var(--dark-gray-blue);
  color: var(--white);
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 50px;
  border: 0;
}

button:hover {
  background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
}
/* /RIGHT */

/* RESPONSIVE */
@media (max-width: 850px) {
  main {
    height: auto;
  }
  .component {
    flex-direction: column;
    width: 100vw;
    height: auto;
    box-shadow: none;
  }

  .left {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
  }

  .score {
    margin-bottom: 20px;
  }

  .right .container {
    padding: 7%;
  }

  .skill:last-child {
    margin-bottom: 40px;
  }

  .score {
    width: 200px;
    height: 200px;
  }

  footer {
    margin-bottom: 5%;
  }
}
