:root {
  /*Primary*/
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /*Gradient blue*/
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);

  /*Gradient violet*/
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  /*Neutral*/
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavander: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.component {
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
  height: 600px;
  width: 800px;

  .left,
  .right {
    display: flex;
    flex: 1;
  }
}

.container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

/* LEFT */
.left {
  background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
  border-radius: 15px;
}

h1 {
  color: var(--light-lavander);
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
}

.message .head {
  text-align: center;
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.message .phrase {
  text-align: center;
  color: var(--light-lavander);
}
/* /LEFT */

/* RIGHT */
.right .title {
  color: var(--dark-gray-blue);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.skill {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  background-color: var(--green-teal);
  border-radius: 10px;
}

.skill:last-child {
  margin-bottom: 0px;
}

.skill-name {
  margin-left: 20px;
}

.skill-score {
  margin-right: 20px;
}

button {
  width: 100%;
  background-color: var(--dark-gray-blue);
  color: var(--white);
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 50px;
  border: 0;
}
/* /RIGHT */
